.header {
    width: 100%;
    height: 100px;

    background-color: (--secondary-color);
    color: (--primary-color);

    display: flex;
    align-items: center;
    justify-content: space-around;
}